<div class="row">
  <div class="col-md-8">
<h1><%= @state.name %></h1>
    <% @state.concerns.each do |concern| %>
      <li><%= link_to concern.title, concern_path(concern) %>
      <%= concern.upvote_count %> Agree
      <%= concern.downvote_count %> Disagree
      </li>

    <% end %>

  <!---------NYTIMES ARTICLES--------->


    <br>
    <h3> New York Times Articles </h3><br><br>
    <ul>
    <% @articles.each do |article| %>
      <h4><u><%= link_to article.headline, article.web_url %></u></h4>
      <h6><%= article.pub_date.gsub(/T.+/, "")%> </h6>
      <h5>"<%= article.snippet %>"</h5>
    <% end %>
    </ul>
</div>


  <!--------- SENATORS -------->
  <div class = "col-md-4">

    <h3><%= @state.name %> Senators: </h3>
    <h2><%= @first_senator.senator1_first_name %> <%= @first_senator.senator1_last_name %> (<%=@first_senator.senator1_party%>)</h2>
    Phone: <%= @first_senator.senator1_phone %><br>
    Email: <%= @first_senator.senator1_oc_email %><br>
    Office: <%= @first_senator.senator1_office %><br><br>
    Find Senator <%= @first_senator.senator1_last_name %> online: 
    <% if !@first_senator.senator1_website.nil? %>
    <%= link_to "Website", @first_senator.senator1_website %>
    <% end %>
    <% if !@first_senator.senator1_facebook_id.nil? %>
    <%= link_to "Facebook", "http://www.facebook.com/#{@first_senator.senator1_facebook_id}" %>
    <% end %>
    <% if !@first_senator.senator1_twitter_id.nil? %>
    <%= link_to "Twitter", "http://www.twitter.senator1_com/#{@first_senator.senator1_twitter_id}" %>
    <% end %>
    <% if !@first_senator.senator1_youtube_id.nil? %>
    <%= link_to "Youtube", "http://www.youtube.com/#{@first_senator.senator1_youtube_id}" %>
    <% end %>
    <% if !@first_senator.senator1_votesmart_id.nil? %>
    <%= link_to "Votesmart", "http://votesmart.org/candidate/biography/#{@first_senator.senator1_votesmart_id}" %>
    <% end %><br>
    <% if !@first_senator.senator1_contact_form.nil? %>
    <%= link_to "Contact", @first_senator.senator1_contact_form %>
    <% end %>

    <h2><%= @second_senator.senator2_first_name %> <%= @second_senator.senator2_last_name %> (<%=@second_senator.senator2_party%>)</h2><br>
    Phone: <%= @second_senator.senator2_phone %><br>
    Email: <%= @second_senator.senator2_oc_email %><br>
    Office: <%= @second_senator.senator2_office %><br><br>
    Find Senator <%= @second_senator.senator2_last_name %> online: 
    <% if !@second_senator.senator2_website.nil? %>
    <%= link_to "Website", @second_senator.senator2_website %>
    <% end %>
    <% if !@second_senator.senator2_facebook_id.nil? %>
    <%= link_to "Facebook", "http://www.facebook.com/#{@second_senator.senator2_facebook_id}" %>
    <% end %>
    <% if !@second_senator.senator2_twitter_id.nil? %>
    <%= link_to "Twitter", "http://www.twitter.senator2_com/#{@second_senator.senator2_twitter_id}" %>
    <% end %>
    <% if !@second_senator.senator2_youtube_id.nil? %>
    <%= link_to "Youtube", "http://www.youtube.com/#{@second_senator.senator2_youtube_id}" %>
    <% end %>
    <% if !@second_senator.senator2_votesmart_id.nil? %>
    <%= link_to "Votesmart", "http://votesmart.org/candidate/biography/#{@second_senator.senator2_votesmart_id}" %>
    <% end %><br>
    <% if !@second_senator.senator2_contact_form.nil? %>
    <%= link_to "Contact", @second_senator.senator2_contact_form %>
    <% end %>
  </div>
</div>