<div class = "jumbotron">
<h1 id = "welcome">Welcome to FixIt</h1>




<%= form_tag("/state/concerns", method: "get") do %>
  <%= collection_select(:state, :state_id, State.all, :id, :name) %>
  <%= submit_tag "Find concerns by state" %>
<% end %>
<br>
<% if logged_in? %>
  <%= link_to "Create concern", new_concern_path, class: "btn btn-default" %><br>
<% else %>
  <%= "Please log in to create a new concern" %>
<% end %>
<br />
</div>
<br>
<%= form_tag searches_path, :method => 'get' do %>
  <%= text_field_tag (:keyword) %>
  <%= submit_tag 'search for a concern', class: "btn btn-primary" %>
<% end %>

<h3>All Concerns</h3>
<table class = "table table-striped">
  <thead>
    <tr class = "info">
      <td>Concerns</td>
      <td>Upvotes</td>
      <td>Downvotes</td>
      <td>Result</td>
      <td>Total Votes</td>

    </tr>
  </thead>
  <tbody>
    <% @concerns.each do |c| %>
      <tr class = "warning">
        <td><%= link_to c.title, concern_path(c)%></td>
        <td><%= c.up_votes %></td>
        <td><%= c.down_votes %></td>
        <td><%= c.result %></td>
        <td><%= c.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page_info">
  <%= page_entries_info @concerns %>
</div>

  <%= will_paginate @concerns, :container => false %>
  