<%= form_for(@concern) do |f| %>
  <% if @concern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concern.errors.count, "error") %> prohibited this concern from being saved:</h2>

      <ul>
      <% @concern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.label :state_id %><br>
    <%= f.collection_select(:state_id, State.all, :id, :name) %>
    <%= f.hidden_field :creator_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
