<%= form_for(@concern) do |f| %>
  <% if @concern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concern.errors.count, "error") %> prohibited this concern from being saved:</h2>
      <ul>
      <% @concern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"%><br>
  </div>
  <div class = "form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control"%><br>
  </div>
    <%= f.label :state_id %><br>
    <%= f.collection_select(:state_id, State.all, :id, :name, {:prompt=>true}, {:class=>'form-control'})%>
    <%= f.hidden_field :creator_id, :value => current_user.id %>

  <div class="actions">
    <br><%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
