<p id="notice"><%= notice %></p>

<h2><%= @concern.title %></h2><br>
<h4>Description: <%= @concern.description %></h4><br>
<h4>Adress: <%= @concern.address %></h4><br>
<h4>District: <%= @concern.district %></h4><br>


  <p><%= @concern.upvote_count %> people agree!</p>
  <p><%= @concern.downvote_count %> people disagree!</p>


<%= form_for @concern.votes.new do |f| %>
  <%#= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :concern_id, :value => @concern.id %>
  <%= f.hidden_field :user_id, :value => 1 %>
  <%= f.hidden_field :upvote, :value => true %>
  <%= f.submit "Agree" %>
<% end %>

<%= form_for @concern.votes.new do |f| %>
  <%#= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :concern_id, :value => @concern.id %>
  <%= f.hidden_field :user_id, :value => 1 %>
  <%= f.hidden_field :upvote, :value => false %>
  <%= f.submit "Disagree" %>
<% end %>





<%= link_to 'Edit', edit_concern_path(@concern) %> |
<%= link_to 'Back', concerns_path %>
