<p id="notice"><%= notice %></p>
<h2>State: <%= link_to @concern.state.name, state_concerns_path(@concern.state) %></h2>
<h2><%= @concern.title %></h2>
<p>Description:<br><%= @concern.description %></p>
<p><%= @concern.up_votes %> people agree!</p>
<p><%= @concern.down_votes %> people disagree!</p>

<% if user_can_vote?(@concern) %>
  <%= form_for @concern.votes.new do |f| %>
    <%= f.hidden_field :voter_id, :value => current_user.id %>
    <%= f.hidden_field :concern_id, :value => @concern.id %>
    <%= f.hidden_field :upvote, :value => true %>
    <%= f.submit "Agree" %>
  <% end %>
  <br>
  <%= form_for @concern.votes.new do |f| %>
    <%= f.hidden_field :voter_id, :value => current_user.id %>
    <%= f.hidden_field :concern_id, :value => @concern.id %>
    <%= f.hidden_field :upvote, :value => false %>
    <%= f.submit "Disagree" %>
  <% end %>
<% end %>
<br>
<% unless @concern.comments.empty? %>
  <h4>Previous Comments:</h4>
  <ul>
    <% @concern.comments.each do |comment| %>
      <li><%= comment.content %></li>
      <%= comment.created_at %><br>
      <%= @current_user.name %>
    <% end %>
  </ul>
<% end %>
<% if logged_in? %>
  <h4>New Comment</h4>
  <%= form_tag("/concerns/#{@concern.id}/comments") do %>
    <%= text_area_tag('comment[content]', placeholder="Post a comment") %><br>
    <%= submit_tag "Create Comment" %>
    <%= link_to 'Edit', edit_concern_path(@concern) %>
  <% end %>
  <% else %>
    <%= "Please Login to Post a Comment" %>
<% end %><br>
<%= link_to 'Back', concerns_path %>
