<p id="notice"><%= notice %></p>
<div class="text-center">
  <h2>State: <%= link_to @concern.state.name, state_concerns_path(@concern.state) %></h2>
  <h3>Concern: <%= @concern.title %></h3>
  <p><%= "Posted by: #{User.find_by(id: @concern.creator_id).name} " %>|<%= @concern.created_at %></p>

<div class="text-center">
    <p><h4>Description:</h4></p>
    <p><%= @concern.description %></p>
</div>
  <p><%= @concern.upvotes %> people agree!</p>
  <p><%= @concern.downvotes %> people disagree!</p>
</div>

<% if user_can_vote?(@concern) %>
  <%= form_for @concern.votes.new do |f| %>
    <%= f.hidden_field :voter_id, :value => current_user.id %>
    <%= f.hidden_field :concern_id, :value => @concern.id %>
    <%= f.hidden_field :upvote, :value => true %>
    <div class="col-lg-2 box">
      <button type="submit" class="center-block btn btn-success btn-lg">Agree</button>
    </div>
  <% end %>

  <%= form_for @concern.votes.new do |f| %>
   <%= f.hidden_field :voter_id, :value => current_user.id %>
    <%= f.hidden_field :concern_id, :value => @concern.id %>
    <%= f.hidden_field :upvote, :value => false %>
    <div class="col-lg-1 box">
      <button type="submit" class="center-block btn btn-danger btn-lg">Disagree</button>
    </div>
  <% end %>
<% end %>
<br><br><br><br>
<% unless @concern.comments.empty? %>
  <h4>Previous Comments:</h4>
  <ul>
    <% @concern.comments.each do |comment| %>
      <li><%= comment.content %></li>
      <%= comment.created_at %><br>
      <%= @current_user.name %>
    <% end %>
  </ul>
<% end %>
<% if logged_in? %>
  <h4>New Comment</h4>
  <%= form_tag("/concerns/#{@concern.id}/comments") do %>
    <%= text_area_tag('comment[content]', placeholder="Post a comment") %><br>
    <%= submit_tag "Create Comment" %>
    <%= link_to 'Edit', edit_concern_path(@concern) %>
  <% end %>
  <% else %>
    <p><%= "Please "%><%= link_to 'Login', login_path%><%= " to Post a Comment" %></p>
  <% end %>
<%= link_to 'Back', concerns_path %>
